<div class="w-full px-4 md:px-6 text-2xl opacity-75 text-yellow-300 text-shadow text-leading-normal font-bold mb-4" style="font-family: Georgia, serif">
	{% if operation == 'edit' %} Edit Quack {% elseif operation == 'create' %} Create Quack {% else %} Quacks {% endif %}
</div>